@font-face {
    font-family: 'Branch';
    src: url('Branch/Branch.otf') format('otf'),
         url('Branch/Branch.ttf') format('truetype');
}


.branch-text {
    font-family: 'Branch', sans-serif;
}



input[type="date"] {
    position: relative;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
  }

.bgi{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg") lightgray 50% / cover no-repeat;
}

.quicksand-text {
    font-family: "Quicksand", sans-serif;
}

